<!DOCTYPE html>
<html>
<head>
    <title>Your Drink Recipe</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="bg-image bg-image-create"></div>
    <div class="header-image"></div>
    <div class="container py-5">
        <a href="/" class="btn btn-primary return-home">Return Home</a>
        <div class="row">
            <div class="col-md-6">
                <img id="drinkImage" class="img-fluid mb-3" src="{{url_for('static', filename='img/wine-virtual.gif')}}" alt="Loading...">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{drink_name}}</h5>
                        <h5 class="card-text">Alcohol Content: {{alcohol_content * 100}}%</h5>
                        <h5 class="card-text">Vessel: {{serving_glass}}</h5>
                        <p class="card-text">Rim: {{rim}}</p>
                        <h5 class="card-title">Ingredients:</h5>
                        <ul>
                        {% for ingredient in ingredients %}
                            <li>{{ ingredient['name'] }}: {{ ingredient['quantity'] }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Steps:</h5>
                        <ol>
                        {% for step in steps %}
                            <li>{{ step }}</li>
                        {% endfor %}
                        </ol>
                        <h5 class="card-title">Garnish:</h5>
                        <ul>
                        {% for garn in garnish %}
                            <li>{{ garn }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Drink History:</h5>
                        <p class="card-text">{{drink_history}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Use AJAX to generate the image after the page has loaded
            const payload = {
                image_description: '{{drink_image_description}}',
                drink_query: '{{drink_name}}',
                serving_glass: '{{serving_glass}}',
                ingredients: {{ ingredients | tojson }}
            };
            $.post('/generate_image', payload, function(data) {
                // Update the source of the image element with the new filename
                $('#drinkImage').attr('src', '/static/img/' + data.filename);
            });
        });
    </script>
</body>
</html>
