<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <h1>Oops...</h1>
        <h2>{{ message }}</h2>
        <div class="mt-5">
            <a href="/" class="btn btn-outline-dark">Return Home</a>
        </div>
    </div>
    <script>
        setTimeout(function(){
            window.location.href = '/';
        }, 5000);
    </script>
</body>
</html>
