<!DOCTYPE html>
<head>
    <title>AI Mixologist</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
            background-color: #f6dcbfcc;
            color: #2a2424;
            font-family: 'Times New Roman', Times, serif;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }
        .bg-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url('https://cdn.discordapp.com/attachments/1083991162366476351/1128851902961037394/catpuking_A_collage_of_different_ingredients_used_by_a_bartende_0bd6be3e-b43b-4b42-a9b9-f5bc6f8afbe0.png');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            opacity: 0.2;
        }
        .container {
            text-align: center;
            z-index: 1;
            max-width: 800px; /* Set a max width for the container */
            width: 100%; /* Set the width to 100% */
            margin: auto; /* Center the container */
        }
        h1 {
            font-size: 5em;  /* Make the title larger */
        }
        input, button {
            font-size: 1.5em;
            margin: 0.5em;
            border-radius: 20px;  /* Rounded corners */
            border: 2px solid #2a2424;  /* Border for modern look */
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);  /* Shadow for modern look */
            text-align: center; /* Center the text in the input box */

        }
        input {
            width: 100%;  /* Set the width of the input box to 100% */
        }
        button {
            background-color: #7db2ad;
            color: #f6dcbf;
            border: none;
            padding: 0.5em 2em;
        }
    </style>
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <h1>AI Mixologist</h1>
        <p id="catchPhrase"></p>
        <form method="POST" action="/create">
            <input type="text" name="drink_query" placeholder="Enter the name of a drink">
            <br>
            <button type="submit" id="createButton">
                <span id="buttonText">Create!</span>
                <div class="spinner-border text-light" id="loadingSpinner" style="display: none;"></div>
            </button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    var catchPhrases = [
        "Crafting your perfect concoction!",
        "Shaking up some fun!",
        "Stirring up creativity!",
        "Brewing your liquid courage!",
        "Mixing your dream cocktail!",
        "Stirring up some magic in a glass!",
        "Shaking things up with your drink of choice!",
        "Putting the 'craft' in your cocktail!",
        "Your personal bartender, at your service!",
        "Blending unique flavors for your delight!",
        "Making your drink, one shake at a time!",
        "Pouring passion into your cocktail!",
        "Inventing a masterpiece from your choice!",
        "Turning your taste buds into a party!",
        "Creating magic, one mix at a time!",
        "Whipping up wonders in a glass!",
        "Your flavor journey starts here!",
        "Conjuring the perfect blend for you!",
        "Bottling up joy, just for you!",
        "Tailoring tastes to tantalize your palate!",
        "Your flavor fantasy, coming right up!",
        "Infusing your drink with imagination!",
        "Crafting a symphony of flavors!"
    ];


    function getRandomCatchPhrase() {
        var index = Math.floor(Math.random() * catchPhrases.length);
        return catchPhrases[index];
    }

    $(document).ready(function() {
        $('#catchPhrase').text(getRandomCatchPhrase());

        $('#createButton').click(function() {
            $('#buttonText').hide();
            $('#loadingSpinner').show();
        });
    });
    </script>
</body>
</html>
