<!DOCTYPE html>
<head>
    <title>AI Mixologist</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <h1>AI Mixologist</h1>
        <p id="catchPhrase"></p>
        <form method="POST" action="/create">
            <input type="text" name="drink_query" placeholder="Enter the name of a drink">
            <br>
            <button type="submit" id="createButton">
                <span id="buttonText">Create!</span>
                <div class="spinner-border text-light" id="loadingSpinner" style="display: none;"></div>
            </button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    var catchPhrases = [
        "Crafting your perfect concoction!",
        "Shaking up some fun!",
        "Stirring up creativity!",
        "Brewing your liquid courage!",
        "Mixing your dream cocktail!",
        "Stirring up some magic in a glass!",
        "Shaking things up with your drink of choice!",
        "Putting the 'craft' in your cocktail!",
        "Your personal bartender, at your service!",
        "Blending unique flavors for your delight!",
        "Making your drink, one shake at a time!",
        "Pouring passion into your cocktail!",
        "Inventing a masterpiece from your choice!",
        "Turning your taste buds into a party!",
        "Creating magic, one mix at a time!",
        "Whipping up wonders in a glass!",
        "Your flavor journey starts here!",
        "Conjuring the perfect blend for you!",
        "Bottling up joy, just for you!",
        "Tailoring tastes to tantalize your palate!",
        "Your flavor fantasy, coming right up!",
        "Infusing your drink with imagination!",
        "Crafting a symphony of flavors!"
    ];


    function getRandomCatchPhrase() {
        var index = Math.floor(Math.random() * catchPhrases.length);
        return catchPhrases[index];
    }

    $(document).ready(function() {
        $('#catchPhrase').text(getRandomCatchPhrase());

        $('#createButton').click(function() {
            $('#buttonText').hide();
            $('#loadingSpinner').show();
        });
    });
    </script>
</body>
</html>
